*~
*.swp
.DS_Store
*.pyc

# bundler
.bundle
vimfiles/bundle/*

# Misc
iTerm2-Color-Schemes

extras/blender/default/cache
extras/blender/default/config/userpref.blend
extras/blender/default/config/bookmarks.txt
extras/blender/default/config/recent-files.txt

