snippet log
	logger.${1:debug} ${2}
snippet fl
	flash[:${1:success}] = "${2}"
snippet pa
	params[:${1:id}]${2}
snippet bp
	binding.pry
snippet pry
	binding.pry
snippet 1h
	${1:node}[:${2:key1}]${3}
snippet 2h
	${1:node}[:${2:key1}][:${3:key2}]${4}
snippet 3h
	${1:node}[:${2:key1}][:${3:key2}][:${4:key3}]${5}
snippet 4h
	${1:node}[:${2:key1}][:${3:key2}][:${4:key3}][:${5:key4}]${6}
