<?xml version="1.0" encoding="iso-8859-1"?>
<settings>
    <!--
        Generation of the php.net manual 
    -->
    <!-- The path to the cvs REFERENCE directory -->
      <cvsdir>~/dotfiles/scripts/phpm/phpm-xml</cvsdir>
	<!-- Enable debugging -->
	<debug>1</debug>
	<!-- where to save the manual -->
	<save>php.xml</save>
	
	
	<!-- Display options, see Console_Color for valid options -->
	<color display="yes">
		<func>B</func>
		<return>G</return>
		<type>b</type>
		<var>B</var>
	</color>
	<!-- Set to what you are u sing the most -->
	<defaultproject value="php" />
	
	<!-- Version 0.3 -->
	<download listing="list.xml" />
	
        <install path="/home/bracer/dotfiles/scripts/phpm/phpm-xml" />
</settings>
